.container-fluid.news_section
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 10px ;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}
footer
{
    text-align: center;
}
.container-title
{
    margin-top: 100px;
}
#create-new-input:focus{
    background-color: white;
    border-color:  #ff5e62;
    box-shadow: 0px 0px 6px 0px #ff9966;
    cursor: pointer;

}
.new-txtarea{
    resize: none;
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    display: block;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
}

