.container.news_section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}
footer {
  text-align: center;
}
.container-title {
  margin-top: 100px;
}
#create-new-input:focus {
  background-color: white;
  border-color: #ff5e62;
  box-shadow: 0px 0px 6px 0px #ff9966;
  cursor: pointer;
}
.new-txtarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  overflow: hidden;
  display: block;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}

.trending-card-lg {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  background: linear-gradient(to left, #fdc830, #f37335); 
  position: fixed;
  height: 100px;
  width: 350px;
  left: 75%;
  top: 83%;
}
.trending-card{
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  background: linear-gradient(to left, #fdc830, #f37335); 
}
.trending-item >code{
  color:#ff9966;
  font-weight: 1000;
  padding: 5px;
}
.trending-item{
  display: inline-block;
  margin: .3em;
  background-color: rgba(255, 255, 255, 0.877);
  border: none;
  border-radius: 3px;
  padding: 0px;
  
}
.new-notification{
  position: fixed;
  height: 100px;
  width: 350px;
  left: 75%;
  top: 68%;
}
.update-notification{
  position: fixed;
  height: 100%;
  width: 350px;
  left: 75%;
  top: 70%;
}